<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Muokkaa unta</title>
</head>
<style>
.form-control:focus {/* darkmode kalenteriin ja kelloon */
	-webkit-box-shadow: none;
	box-shadow: none;
}
input {
	color-scheme: dark;
}
</style>

<body class="bg-dark mx-auto m-5 p-4 border border-warning rounded"
	style="width: 400px">

	<h1 class="text-warning text-center">Muokkaa unta</h1>

	<div class="text-white ">
		<form th:object="${muokkaaUni}" th:action="@{/tallennaUni}" action="#"
			method="post">
			<input type="hidden" id="id" th:field="*{id}" />

			<div class="form-floating mt-2">
				<input type="time" 
					autocomplete="off"
					class="border-secondary text-white bg-dark form-control"
					placeholder=" "
					th:field="*{maara}" 
					/>
					<label>Unen määrä:</label>
			</div>

			<div class="form-floating mt-2">
				<select id="unenlaadut" th:field="*{unenlaatu}"
					class="text-white bg-dark form-control">
					<option th:each="unenlaatu: ${unenlaadut}"
						th:value="${unenlaatu.id}"
						th:text="${#strings.repeat('&#9733;', unenlaatu.laatu)}">
					</option>
				</select>
				<label>Laatu</label>
			</div>

			<div class="form-floating mt-2">
				<input type="text"
					autocomplete="off"
					class="border-secondary text-white bg-dark form-control"
					placeholder=" "
					th:field="*{lisatietoja}" 
					/>
					<label>Lisätietoja:</label>
			</div>


			<div class="form-floating mt-2">
				<input type="date"
					class="border-secondary text-white bg-dark form-control"
					th:field="*{pvm}"/>
					<label>Päivämäärä:</label><br>
			</div>
			
			<!-- Nappulat -->
			<div class="text-center">
				<input class="btn btn-sm btn-outline-success" type="submit" value="Tallenna"></input>
				<a class="btn btn-sm btn-outline-danger " href="/uni">Peruuta</a>
			</div>
		</form>
	</div>


</body>
</html>