<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tunnus lisätty</title>
</head>

<body class="bg-dark mx-auto m-5 p-4 ">
	<h4 class="text-success text-center">Käyttäjätunnus lisätty
		onnistuneesti</h4>

	<div id="timer" class="text-center text-light mt-3"></div>

	<script>
		var ajastinPituus = 6;
		var ajastinKentta = document.getElementById("timer");

		// ajastin
		var ajastin = setInterval(function() {
			ajastinPituus -= 1;

			ajastinKentta.innerHTML = "Palataan takaisin " + ajastinPituus
					+ " sekunnin kuluttua...";

			if (ajastinPituus == 0) {
				clearInterval(ajastin); //pysäytetään ajastin
				window.location.href = "uusiTunnus";
			}
		}, 1000);
	</script>

</body>
</html>
